.bariatric-menu {
    position: relative;
    z-index: 2;
    text-align: center;
    > ul.menu { display: inline-table; text-align:center; font-size: 0;}
    > ul.menu > li {
        border-right: 0 none;
        display: inline-block;
        text-align: center;
        margin: 0;
        &:last-child > a {
            border-right: 1px solid #d9d9d9;
        }
        > a {
            color: $green;
            text-decoration: none;
            text-transform: uppercase;
            background: #f2f2f2;
            border: 1px solid #d9d9d9;
            line-height: 1em;
            font-weight: bold;
            font-size: .65rem;
            letter-spacing: 1px;
            padding-left: .5rem;
            padding-right: .5rem;
        }
        &.is-active > a {
            color: #fff;
            background: $green;
        }
        > ul {
            background: #f2f2f2;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .8);
            > li {
                margin: 0;
                a {
                    color: #757575;
                    font-weight: bold;
                    font-size: .65rem;
                    letter-spacing: 1px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:hover {
                    background: $green;
                    a {color: #fff;}
                }
            }
        }
    }
    .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
        padding-right: 2rem;
    }
    .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
        right: 12px;
    }
}
