#block-views-locations-footer-block {
  color: #fff;
  font-size: .9rem;
  h3 {font-size: .9rem;font-weight: bold; margin-top: .5rem; margin-bottom: 0;}
  address {
    font-style: normal;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
